@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #0a1128;
    --cor2: white;
    --cor3:#EEEEEE;
    --gap: 3rem;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sriracha', cursive;
 */

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    overflow-x: hidden;
}

.menu{
    background-color: var(--cor2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-bottom: 1px solid var(--cor3);
}

.menu h1{
    font-size: 2.3rem;
    color: var(--cor1);
    padding: 2rem;
}

.menu h1 a{
    color: inherit;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after{
    content: '' ;
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 100%;
    height: 0.3rem;
    background-color: crimson;
    transition: all 300ms ease-in-out
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
}
h2{
    font-size: 5.5rem;
}
h3{
    font-size: 5rem;
}h4{
    font-size: 4.5rem;
}h5{
    font-size: 4rem;
}h6{
    font-size: 3.5rem;
}

.main-bg{
    background-image: url('../img/main-bg3.svg');
    background-size: cover;
    background-position:center center;  
    color: var(--cor2);
}

.main-content{
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: var(--gap);
    padding-top: 80px;
}

.white-bg{
    background-color: var(--cor2);
}